html
	body
		p Your event:
		| New Eventname: #{eventname}, Date: #{date}, Start time: #{starttime}, End time: #{endtime}, Price €: #{price}, 
		|
		p Party Link: #{partylink}, Ticket Link: #{ticketlink},
		|
		p Venue: #{venue}, Location: #{location}, City: #{city}, Musictype: #{musictype},
		|
		p Information: #{information}.
		img(src=eventpicture)
