html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		include navbar.pug

		div(class="container-fluid")
				div(class="row")
					div(id="header" class="col-lg-6 col-lg-offset-3")
						img(src="public/images/BaNGERz@3x.png")
					div(id="header" class="col-lg-6 col-lg-offset-3")
						h3(id="subheader") Let's party on, till the music is gone!
				div(class="row")
					div(id="btndiv" class="col-lg-6 col-lg-offset-3")
						a(href="eventForm" id="eventbtn" type="button" class="btn btn-light") CLICK HERE TO UPLOAD EVENT!
				div(class="row")
					div(class="col-lg-6 col-lg-offset-3")
						h3(id="upcomingevents") UPCOMING EVENTS
				div(class="row eventinfo")
				each item in allevents
					div(class="col-lg-6 col-lg-offset-3")
						h3 #{item.date}
					div(class="col-lg-6 col-lg-offset-3")
						img(id="partypic" src=item.eventpicture)
					div(class="col-lg-4 col-lg-offset-3")
						h3(id="partyname") #{item.eventname}
					div(class="col-lg-2")
						h3(class="eventinforight") #{item.starttime} - #{item.endtime}
					div(class="col-lg-4 col-lg-offset-3")
						h4(id="partylocation") #{item.venue} / #{item.location} / #{item.city}
					div(class="col-lg-2")
						h4(class="eventinforight") &euro;#{item.price}
					div(class="col-lg-6 col-lg-offset-3")
						h4 #{item.musictype}

					div(class="col-lg-6 col-lg-offset-3 bottomeventinfo")
						h5(id="nexttogif")
							span(style='padding-right:3px; padding-top: 3px; display:inline-block;')
								img(id="gif" src='public/images/cat.gif')
							| #Number people are interested |			
							span
								button(id="seeMore" type="submit") See more 

style
	include ../public/custom/index.css

script.
	//- jQuery doesn't take arrow functions!!!
	$("document").ready(()=>{
		$("h4, h3").each(function() {
				$(this).text($(this).text().toUpperCase());
		})
	})