html
	head
	body
		h1 Index page
		p 
		img(src=picture)

		p The events: New Eventname: #{eventname}, Date: #{date}, Start time: #{starttime}, End time: #{endtime}, Price €: #{price}, 
		|
		p Party Link: #{partylink}, Ticket Link: #{ticketlink},
		|
		p Venue: #{venue}, Location: #{location}, City: #{city}, Musictype: #{musictype},
		|
		p Information: #{information}.
		img(src=eventpicture)

		p  The events: 
			each item in allevents
				each value, key in item
					p #{key}: #{value} 
					img(src=picture)

