html
	head
	body
		h1 Index page
		p  The events: 
			each item in allevents
				p Event Name: #{item.eventname} Date: #{item.date} Start Time: #{item.starttime} End Time: #{item.endtime} Price €: #{item.price}
				| Party Link: #{item.partylink} Ticket Link: #{item.ticketlink} 
				| Venue: #{item.venue} Location: #{item.location} City: #{item.city} Information: #{item.information} Music Type: #{item.musictype}         
				br
				img(src= item.eventpicture)