html
	head
	body
		h1 Index page
		p 
		img(src=picture)

		p The events: Eventname: #{eventname}, Date: #{date}, Start time: #{starttime}, End time: #{endtime}, Price €: #{price}, 
		|
		p Party Link: #{partylink}, Ticket Link: #{ticketlink},
		|
		p Venue: #{venue}, Location: #{location}, City: #{city}, Musictype: #{musictype},
		|
		p Information: #{information}.
		img(src=eventpicture)